@import "tailwindcss";


#home-bg-img{
  background-image: url('https://images.pexels.com/photos/4102712/pexels-photo-4102712.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}